@import url(' @import url('https://fonts.googleapis.com/css2?family=FAMILY_NAME:wght@WEIGHT_OR_RANGE&display=swap');');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body{
    background: #081b29;
    color: #ededed;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: .3s;
}

.header.sticky{
    background: #081b29;
}

.logo{
    position: relative;
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
}

.logo::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showlight 1s ease forwards;
    animation-delay: 0.4s;

}

.navbar a{
    position: relative;
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: 0.3s;

}

.navbar a::after{
    content: '' ;
    position: absolute;
    left:0;
    bottom: -6px;
    width:100%;
    height: 3px;
    background: rgb(248, 245, 245) ;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
    
}
.navbar a:hover::after
{
    transform-origin: left;
    transform: scaleX(1);
    background-color: #00abf0;
}

.home{
    height: 100vh;
    background: url(priya.jpg)no-repeat; 
    background-size: cover;
    background-position: center; 
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.home-content {
    max-width: 800px;
}

.home-content h1{
    position: relative;
    font-size: 45px;
    font-weight: 700;
    line-height: 1.2;
}

.home-content h1::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showlight 1s ease forwards;
    animation-delay: 1s;

}

.home-content h3{
    position: relative;
    font-size: 50px;
    font-weight: 700;
    color: #00abf0;
    margin: 20px 0 40px;
}

.home-content h3::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showlight 1s ease forwards;
    animation-delay: 1.5s;

}

.home-content .btn-box{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
}

.home-content .btn-box::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showlight 1s ease forwards;
    animation-delay: 2s;
    z-index: 2;
}
.btn-box a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;
    font-size: 19px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-box a:hover{
    color: #00abf0;
}
.btn-box a:nth-child(2)
{
    background: transparent;
    color: #00abf0;
}
.btn-box a:nth-child(2):hover{
    color: #081b29;
}

.btn-box a:nth-child(2)::before{
    background: #00abf0;
}

.btn-box a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #081b29;
    z-index: -1;
    transition: 0.5s;
}

.btn-box a:hover::before{
    width: 100%;
}

.home-sci{
    position: absolute;
    bottom: 40px;
    width: 160px;
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    z-index: 100;
}

.home-sci::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showlight 1s ease forwards;
    animation-delay: 2.5s;
    z-index: 2;
}
.home-sci a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 50%;
    font-size: 20px;
    color: #00abf0;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
}

.home-sci a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: rgb(226, 219, 219);
    z-index: -2;
    transition: 0.5s;
}

.home-sci a:hover::before{
    width: 100%;
}

.home-imgHover{
    position: absolute;
    top: 0;
    right: 30px;
    width: 600px;
    height: 100%;
    background: transparent;
    transition: 3s;
    animation: manipActiveHover .1s forwards;
    animation-delay: 0.4s ;
}

.home-imgHover:hover{
    background-color:#081b29 ;
    opacity: 0.8;
}

.home-imgHover::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 120%;
    height: 100%;
    background: #081b29;
    animation: showlight 1s ease forwards;
    animation-delay: 3s;
    z-index: 100;
}
@keyframes showlight{
    100%{
        width: 0;
    }
}

@keyframes manipAtiveHover{
    100%{
        pointer-events: auto;
    }
}

.about{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:2rem;
    background: var(--second-bg-color);
    padding-bottom: 6rem;
}
.heading{
    font-size: 3rem;
    margin-bottom: 0.1rem;
    text-align: center;
    color: #00abf0;

}

.about-img {
    position: relative;
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-img img{
    width: 90%;
    border-radius: 50%;
    border: .2rem solid #00abf0;
}

.about-content{
    text-align: center;
}

.about-content h3{
    font-size: 2.6rem;
}

.about-content p{
    font-size: 1.6rem;
    margin: 1rem 2rem;
    
}

#skills{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:2rem;
    padding-bottom: 6rem;
    
}

#skills h2{
    font-size: 3rem;
    margin-bottom: 0.1rem;
    text-align: center;
    color: #00abf0;

}


#projects {
    background: var(--second-bg-color);
    padding: 4rem 10%;
    text-align: center;
}

#projects h2 {
    font-size: 3rem;
    margin-bottom: 2rem;
    color: #00abf0;
}

.project {
    background: #1a2b3c; 
    border-radius: 8px;
    padding: 2rem;
    margin-bottom: 2rem;
    transition: transform 0.3s, box-shadow 0.3s;
}

.project:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.project h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #ededed;
}

.project p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: #cfd8dc;
}

.project a {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    color: #081b29;
    background: #00abf0;
    border-radius: 5px;
    text-decoration: none;
    transition:  0.3s;
}

.project a:hover {
    background: #007bb5;
}

.project strong {
    font-weight: 600;
    color: #ededed;
}


.contact{
    min-height: auto;
    padding-bottom: 7rem; 
    color: #00abf0;

}

.contact form {
    max-width: 50rem;
    margin: 0 auto;
    text-align: center;
}

.contact form .box{
    position: relative;
    display: flex;
    justify-content: space-between;

}

.contact form .box .field {
    position: relative;
    width: 50%;
    margin: .8rem 0;
}

.contact form .box .field input,
.contact form .textarea-field textarea{
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: transparent;
    border-radius: .6rem;
    border: .2rem solid #00abf0;
}

.contact form .box .field input::placeholder,
.contact form .textarea-field textarea::placeholder{
    counter-reset: var(--text-color);
}

.contact form .textarea-field{
    position: relative;
    margin: .8rem 0 2.7rem;
    display: flex;
}

.contact form .textarea-field textarea{
    resize: none;
}

.contact form .btn-click .btn{
    font-size: 20px;
    background-color: transparent;
    width: 150px;
    height: 40px;
    border-radius: .8rem;
    border: .1rem solid #00abf0;
    color:white;

}
.contact form .btn-click .btn:hover{
    background-color: #00abf0;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 40%;
}
